/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* =============================================================================
   HTML5 element display
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

a {text-decoration: none;}
a:hover {text-decoration: underline;}

/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */

::-moz-selection { background: #3eaaef; color: #fff; text-shadow: none; }
::selection { background: #3eaaef; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img { border: 0; -ms-interpolation-mode: bicubic; }

/*
 * Correct overflow displayed oddly in IE9 
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow: auto; vertical-align: top; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }


/* =============================================================================
   Primary styles
   Author: Evan Dudla, Criticrania Team 
   ========================================================================== */

body {
  background: url(../img/body-bg.gif);
}

#global-header {
  background: #222 url(../img/header-bg.png) top left repeat-x;
  padding: 0 20px;
  overflow: hidden;
}
#user-nav {
  line-height: 48px;
}
#user-nav a, #user-nav span {
  color: #555;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

#progress-outer
{
  background: #333;
  display: inline-block;
  height: 10px;
  width: 60px;
  padding: 2px;
  position: relative;
  top: -1px;
  vertical-align: middle;
  border-radius: 13px;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
}

#progress-inner
{
  background: #559E38;
  width: 10%;
  height: 100%;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
}

#global-nav {
  color: #ccc;
  height: 48px;
  overflow: visible;
  line-height: 35px;
}
#global-nav nav {
  float: left;
  padding-top: 8px;
}
#global-nav ul {
  display: inline;
  text-indent: 0;
  padding: 0;
}
#global-nav ul li {
  padding: 0 2em 0 0;
  display: inline;
  font: 16px "Comfortaa", sans-serif;

}
#global-nav ul li a {
  text-decoration: none;
  text-shadow: 1px 1px 0 #111;
}
#global-nav ul li a:hover {
  text-decoration: underline;
}
#global-nav .right a{
	position: relative;
	font-size: 16px;
	top: 5px;
	margin: 0 20px 0 0;
}

#global-nav .right{
	text-align: right;
	width: 400px;
}

#log, #signup, #drop{
  position: absolute;
  right: 0px;
  top: 46px;
  z-index: 1000;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
}

#drop a{
	color: #ddd;
  font-weight: bold;
}

#drop a:hover{
	text-decoration: underline;
}

.change
{
	cursor: pointer;
}

#ratebar
{
	top: -15px;
	width: 140px;
}


#log input, #signup input
{
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow:0 2px 2px #ccc inset, 0 1px 0 #fff;
  -webkit-box-shadow:0 2px 2px #ccc inset, 0 1px 0 #fff;
  -moz-box-shadow:0 2px 2px #ccc inset, 0 1px 0 #fff;
}

#logo {
  color: #292929;
  display: block;
  height: 46px;
  width: 160px;
  font: 18px/46px "Comfortaa", sans-serif;
  text-decoration: none;
  text-shadow: 1px 1px 0 #fff; 
  float: left;
}
#logo img {
  margin-right: 18px;
  position: relative;
  top: -2px;
  vertical-align: middle;
}

#main {
  padding: 0 20px;
  min-height: 590px;
}

#search {
  outline:none;
  display:inline-block;
  vertical-align:text-bottom;
  font-size:13px;
  border:1px solid #bbb;
  border-radius:20px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  box-shadow:0 2px 2px #ccc inset, 0 1px 0 #fff;
  -webkit-box-shadow:0 2px 2px #ccc inset, 0 1px 0 #fff;
  -moz-box-shadow:0 2px 2px #ccc inset, 0 1px 0 #fff;
  color:#555;
  height:23px;
  line-height:13px;
  padding: 0 30px 0 5px;
  width:189px;
  margin:0;
}

#search:focus {
  box-shadow:0 2px 2px #ccc inset, 0 0 10px #3278af;
  -webkit-box-shadow:0 2px 2px #ccc inset, 0 0 10px #3278af;
  -moz-box-shadow:0 2px 2px #ccc inset, 0 0 10px #3278af;
  border:1px solid #3278af;
}

#search-form {
  position:relative;
  display:block;
  padding:9px 0 0;
  float: right;
  overflow:visible;
}

#search-form label {
  display:none;
  height:44px;
  line-height:32px;
  z-index:10;
  position:absolute;
  width:200px;
  top:0;
  padding:8px 0 0 30px;
  color:#ccc;
}

#randsearch{
  display: block;
  position: relative;
}

#slug {
  font: normal 37px "Open Sans", sans-serif;
  text-shadow: 1px 1px 0 #000;
  color: #fff;
  margin: 1em 0;
  text-align: center;
}

.block {
  color: #ccc;
  width: 270px;
  float: left;
  text-shadow: 1px 1px 0 #222;
  padding-right: 70px;
  padding-bottom: 50px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 100;
}
.block b {
  font-weight: 500;
}
#sign-up {
  padding-right: 0;
  margin-bottom: 3em;
}

.block h1, .static h1 {
  font: normal 28px "Open Sans", sans-serif;
  background-position: right center;
  background-repeat: no-repeat;
}

.static {
  padding: 2em 0;
}
.static h1 {
  color: #3278af;
  text-shadow: 1px 1px 0 #000;
}
.static h2 {
  color: #3278af;
  font-weight: 100;
  margin-top: 2em;
  text-shadow: 1px 1px 0 #000;
}
.static p {
  color: #ccc;
  line-height: 1.4;
  width: 620px;
}

h1.red {
  background-image: url(../img/rating-stars.png);
}
h1.green {
  background-image: url(../img/message-bubbles.png);
}
h1.purple {
  background-image: url(../img/points-counter.png);
}
h1.yellow {
  background-image: url(../img/people-group.png);
}

#user-info, #user-rated, #user-activity{
	color: #ddd;
	padding-top: 60px;
}

#user-info{
	float: left;
	min-height: 450px;
	padding-right: 2%;
	text-align: center;
	width: 20%;
}

#user-info #username{
	font-size: 24px;
	font-weight: normal;
	padding-bottom: 20px;
}

#header{
	color: #3278AF;
	font-family: "Open Sans", sans-serif;
	font-size: 28px;
	font-weight: normal;
	text-shadow: 1px 1px 0 black;
}

#mail{padding: 40px 0 0 0;}

#inbox{width: 100%;}
#inbox .from{width: 25%;}
#inbox .subject{width: 60%;}
#inbox .date{width: 15%;}

#cc{
	padding: 0 0 25px 0;
}
#cc-header{
	font-style: italic;
}

#cc-rating{
	font-style: normal;
	font-size: 38px;
	padding: 0 0 15px 0;
}

#level{
	font-weight: bold;
}
#progress{
	color: #559e38;
}

#stats{
	padding: 0 0 25px 0;
	text-align: left;
}

.stat-left{
	display: inline-block;
	font-weight: bold;
	padding: 0 10px 0 0;
	text-align: right;
	width: 70px;
	
}
#followers{
	padding: 0 0 25px 20px;
	text-align: left;
}
#followers a{
	color: #eee;
	font-style: italic;
}
#following, #more{
	font-weight: bold;
}

#user-rated{
	float: left;
	padding-top: 120px;
	width: 507px;
}
#user-rated #top, #user-activity #top{
	padding: 0 0 20px 0;
}
#user-rated #title{
	display: inline-block;
	font-size: 22px;
	text-shadow: 1px 1px 0 #333;
}
#user-rated #rated-posters img{
	padding-right: 5px;
	padding-bottom: 5px;
}

#print
{
  font-size: 16px;
  margin: 15px auto;
  text-align: center;
}

#user-activity{
	float: right;
	padding: 120px 2% 0 2%;
	width: 20%;
}

#user-activity a{
	color: #eee;
	text-decoration: none;
}

#user-activity a:hover{
	text-decoration: underline;
}

#user-activity #title{
	display: inline-block;
	font-size: 22px;
	text-shadow: 1px 1px 0 #333;
}

#user-reviews{
	min-height: 300px;
}

#common{
	float: right;
	margin-left: 30px;
	padding: 3em, 0;
	width: 325px;
}

#common a{
	color: #333;
	text-decoration: none;
}

#common a:hover{
	text-decoration: underline;
}

#common-ratings, #the-reviews{
	color: #333;	
}

#common-ratings .smaller{
	width: 40px;
	text-align: center;
}

#global-footer {
  /*background-image: url(../img/thoughtflow-bubble.png);*/
  background: #ddd;
  border-top: 1px solid #fff;
  color: #999;
  min-height: 300px;
}
#global-footer nav {
  margin: 1em 0;
}
#global-footer nav ul {
  display: inline;
  text-indent: 0;
}
#global-footer nav ul li {
  display: inline;
  padding: 0;
}
#global-footer nav ul li:after {
  content: "\0020\00b7";
}
#global-footer nav ul li.last:after {
  content: "";
}
#global-footer nav ul li a {
  color: #999;
}
#just-rated {
  clear: both;
  overflow: hidden;
  padding: 0 0 50px;
}
#just-rated h1 {
  visibility: hidden;
  text-indent: -999em;
}
#just-rated article {
  width: 22.7%;
  height: 8em;
  float: left;
  margin-right: 3.2%;
  border-radius: 8px;
  background: #bbb;
  text-shadow: 1px 1px 0 #ccc;
  display: table;
  padding: 1em 1em 1em 0;
}
#just-rated article h2 {
  margin: 0;
  font-size: 13px;
}
#just-rated article .rated-img {
  display: table-cell;
  vertical-align: middle;
  width: 44px;
}
#just-rated article .rated-info {
  display: table-cell;
  vertical-align: middle;
}
#just-rated article img {
  width: 44px;
  margin: 0 1em;
}
#just-rated article p {
  margin: 0.2em 0;
  color: #555;
}
#just-rated article.last {
  margin-right: 0;
}
#more-like article {
  float: none;
}
.content-blocks article{
  width: 215px;
  height: 8em;
  float: left;
  margin-right: 30px;
  border-radius: 8px;
  background: #bbb;
  text-shadow: 1px 1px 0 #ccc;
  display: table;
  padding: 1em 1em 1em 0;
}
.content-blocks article h2 {
  margin: 0;
  font-size: 13px;
}
.content-blocks article .rated-img {
  display: table-cell;
  vertical-align: middle;
  width: 44px;
}
.content-blocks article .rated-info {
  display: table-cell;
  vertical-align: middle;
}
.content-blocks article img {
  width: 44px;
  margin: 0 1em;
}
.content-blocks article p {
  margin: 0.3em 0;
  color: #555;
}
.content-blocks article.last {
  margin-right: 0;
}

#sign-up input, #sign-up label {
  display: block;
}
#sign-up label {
  color: #999;
}
#sign-up input {
  padding: 0;
  width: 258px;
  height: 23px;
  padding: 0 5px;
  border:1px solid #bbb;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow:0 2px 2px #ccc inset, 0 1px 0 #fff;
  -webkit-box-shadow:0 2px 2px #ccc inset, 0 1px 0 #fff;
  -moz-box-shadow:0 2px 2px #ccc inset, 0 1px 0 #fff;
  color:#555;
  font-size: 13px;
}
#fbinput input {
  padding: 0;
  width: 160px;
  height: 23px;
  padding: 0 5px;
  border:1px solid #bbb;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow:0 2px 2px #ccc inset, 0 1px 0 #fff;
  -webkit-box-shadow:0 2px 2px #ccc inset, 0 1px 0 #fff;
  -moz-box-shadow:0 2px 2px #ccc inset, 0 1px 0 #fff;
  color:#555;
  font-size: 13px;
}
#input input {
  padding: 0;
  width: 160px;
  height: 20px;
  padding: 0 5px;
  border:1px solid #bbb;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow:0 2px 2px #ccc inset, 0 1px 0 #fff;
  -webkit-box-shadow:0 2px 2px #ccc inset, 0 1px 0 #fff;
  -moz-box-shadow:0 2px 2px #ccc inset, 0 1px 0 #fff;
  color:#555;
  font-size: 13px;
}
.inputname
{
	display: inline-block;
	width: 100px;
	text-align: right;
	padding: 0 10px 0 0;
}
button {
  height: 25px;
  /*width: 80px;*/
  font-size: 13px;
  color: #eee;
  text-decoration: none;
  text-align: center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  text-shadow: 1px 1px 0 #333;
  border-radius: 8px;
  border: 1px solid #3278af;
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.11, rgb(22,96,154)),color-stop(0.56, rgb(50,120,175)));
  background-image: -moz-linear-gradient(center bottom,rgb(22,96,154) 11%,rgb(50,120,175) 56%);
  background-color: #3278af;
  z-index: 2;
}
#sign-up .fb_button {
  float: right;
  position: relative;
  top: -23px;
}
#sign-up h2 {
  padding-top: 2em;
  font-weight: 300;
  font-size: 1em;
}
#sign-in a {
  color: #999;
}

#flow {
  overflow: hidden;
  padding: 0 10px;
  position: relative;
  width: 940px;
}
#flow_posters {
  overflow: hidden;
  padding: 0 10px;
  position: relative;
  width: 490px;
}

#thoughtflow article{
  /*background-image: url(../img/thoughtflow-bubble.png);*/
  background: #ddd;
  height: 150px;
  width: 280px;
  padding: 10px;
  position: relative;
  margin: 0 30px 20px 0;
  float: left;
  /*-moz-box-shadow:0px 0px 5px #fff;
  -webkit-box-shadow:0px 0px 5px #fff;
  box-shadow:0px 0px 5px #fff;*/
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
#thoughtflow img{
  margin-top: -40px;
  position: absolute;
  top: 50%;
}

#thoughtflow #left, #thoughtflow #right
{
  cursor: pointer;
  position: absolute;
  top: 58%;
}
#thoughtflow #left{left: -30px;}
#thoughtflow #right{right: -30px;}

#flowinner{
	width: 2880px;
}

#message_list
{
  color: #ccc;
  height: 250px;
  overflow: auto;
}

#message_list .odd{background-color: #333;}

#message_content
{
  border: 1px solid gray;
  color: #ccc;
  height: 385px;
  overflow: auto;
  position: relative;
}

#message_content a
{
  color: #ccc;
  font-weight: bold;
  text-decoration: none;
}

#message_content a:hover{text-decoration: underline;}

#message_content table a
{
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

#message_content table a:hover
{
  text-decoration: underline;
}

#message_content table
{
  color: #333;
}

article .text{
  padding-left: 64px;
}

article .title{
  font-size: 16px;
  font-weight: bold;
  padding: 0 0 15px 0;
  text-shadow: 1px 1px 0 #fff;
}

article a{
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

article a:hover{
  text-decoration: underline;
}

article a:visited{
  color: #000;
}

#arrows{
	color: #eee;
  float: right;
  font-size: 16px;
	position: relative;
	right: 10px;
}
.sliding
{
	float: left;
	height: 550px;
	position: relative;
	width: 960px;
}
.sliding_posters
{
	float: left;
	height: 350px;
	position: relative;
	width: 490px;
}

#thoughtflow article.comment {
  width: 200px;
}

#thoughtflow article.review {
  width: 300px;
}

#thoughtflow article.rate{
  width: 180px;
}

#global-footer h1 {
  font: normal 24px "Open Sans", sans-serif;
  color: #292929;
}
#suggestions h2, #your-cranium h2 {
  font-size: 14px;
}

#suggestions {
  width: 600px;
  padding-bottom: 4em;
}
#suggestions article {
  float: left;
  padding-right: 20px;
  width: 320px;
  color: #292929;
}
#suggestions #user-suggest {
  width: 230px;
  float: right;
}

#content-suggest {
  overflow: hidden;
  position: relative;
}
#content-suggest img {
  display: block;
  margin-top: 1em;
}
#content-suggest div {
  width: 235px;
}
#your-cranium {
  width: 340px;
  padding-bottom: 4em;
}

.rating {
  font-size: 32px;
  font-weight: 600;
}

#filter .select
{


}

ul.content-filter {
  margin: 0;
  text-indent: 0;
  padding: 0;
  overflow: hidden;
  height: 14px;
}
ul.content-filter li {
  display: block;
  width: 10px;
  height: 10px;
  float: left;
  margin: 0 3px;
}
ul.content-filter li a {
  display: block;
  width: 10px;
  height: 10px;
  text-indent: -999em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
}
ul.content-filter li.red a {background-color:#c83535;}
ul.content-filter li.green a {background-color:#559e38;}
ul.content-filter li.blue a {background-color:#3278af;}
ul.content-filter li.purple a {background-color:#644484;}
ul.content-filter li.yellow a {background-color:#db9e36;}
ul.content-filter li.white a {background-color:#CCC;}
ul.content-filter li a:hover, ul.content-filter li.active a {border: 2px solid #fff; cursor: pointer;}

#single-content {
  padding: 2.5em 0 0;
  min-height: 500px;
}
#single-content span.content-rating {
  display: block;
  width: 60px;
  height: 40px;
  margin: -20px 0 15px 100px;
  padding: 0 10px 2em;
  position: relative;
  float: left;
  right: 30px;
  top: -10px;
}
#single-content span.content-rating i {
  display: block;
  text-align: center;
  color: #ccc;
}
#single-content span.content-rating b {
  display: block;
  text-align: center;
  color: #559e38;
  font-size: 2.769em;
  font-weight: normal;
}

#single-content img.left {
  width: 300px;
}
#single-content article.left {
  width: 380px;
  padding: 2em 20px 0;
}
#single-content p {
  width: 100%;
  clear: both;
}
#single-content button {
  min-width: 50px;
  height: 22px;
}
p.content-meta {
  margin-bottom: 4em;
}
p.content-meta, p.content-action {
  font-size: 11px;
  color: #999;
}
p.content-action a {
  font-weight: 600;
  text-decoration: none;
}

#comments {
  width: 220px;
  padding: 6.2em 0 0 0;
  position: relative;
  color: #ccc;
}

#discussion {
  width: 440px;
  padding: 10px 0 0 0;
  color: #ccc;
}
#discussion article{color: #333;}

#global-footer #discussion a
{
  color: #333;
}

#comments h1,#discussion h1 {
  font: normal 19px "Open Sans", sans-serif;
  text-shadow: 1px 1px 0 #111;
  overflow: hidden;
}
#comments h2,#discussion h2 {
  font-size: 0.9231em;
  margin-top: 2em;
}
#comments p,#discussion div {
  font-style: italic;
  font-size: 0.9231em;
  margin-bottom: 2.5em;
  margin-top: 0.3em;
}

#comments a,#discussion a{
	color: #ccc;
}
#reviews {
  width: 620px;
  color: #292929;
  padding: 3em 0;
}
#reviews h1, #more-like h1 {
  font: normal 19px "Open Sans", sans-serif;
  text-shadow: 1px 1px 0 #fff;
  overflow: hidden;
}
#reviews h2 {
  font-size: 1em;
  margin-top: 3em;
}
#reviews h2 span {
  margin-left: 0.5em;
}
#reviews p {
  font-style: italic;
}

#more-like {
  width: 220px;
  padding: 3em 0;
}
#more-like h1 {
  margin-bottom: 2.2em;
}
#more-like article {
  margin-bottom: 1em;
}

a.add-content {
  width: 20px;
  height: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  display: block;
  text-indent: -999em;
  float: left;
  margin-left: 0.5em;
  position: relative;
  top: 4px;
  background-image: url(../img/icon-add.png);
  background-repeat: no-repeat;
  background-position: center center;
}

form.vote-up, form.vote-down {
  position: relative;
  display: inline-block;
  width: 13px;
  top: 2px;
}

a.remove {
  position: relative;
  top: 2px;
}

/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */
/* CC color scheme */
.red,
a.red:visited,
.negative,
body.book #comments h1,
body.book #single-content h1,
body.book #single-content p.content-action a,
body.book #reviews h1,
body.book #more-like h1 { color: #c83535; }
body.book #single-content button {
  border: 1px solid #cd3737;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0.11, rgb(159,47,47)),color-stop(0.56, rgb(205,55,55)));
  background: -moz-linear-gradient(center bottom,rgb(159,47,47) 11%,rgb(205,55,55) 56%);
  background-color: #cd3737;
}
body.book a.add-content {
  border: 1px solid #cd3737;
  background: url(../img/icon-add.png) no-repeat center center, -webkit-gradient(linear,left bottom,left top,color-stop(0.11, rgb(159,47,47)),color-stop(0.56, rgb(205,55,55)));
  background: url(../img/icon-add.png) no-repeat center center, -moz-linear-gradient(center bottom,rgb(159,47,47) 11%,rgb(205,55,55) 56%);
  background-color: #cd3737;
}
body.book #comments a{color: #ccc; text-decoration: none;}
body.book #comments a:hover{text-decoration: underline;}

.green,
a.green:visited,
.positive,
body.television #comments h1,
body.television #single-content h1,
body.television #single-content p.content-action a,
body.television #reviews h1,
body.television #more-like h1 { color: #559e38; }
body.television #single-content button {
  border: 1px solid #559e38;
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.11, rgb(70,130,46)),color-stop(0.56, rgb(85,158,56)));
  background-image: -moz-linear-gradient(center bottom,rgb(70,130,46) 11%,rgb(85,158,56) 56%);
  background-color: #559e38;
}
body.television a.add-content {
  border: 1px solid #559e38;
  background: url(../img/icon-add.png) no-repeat center center, -webkit-gradient(linear,left bottom,left top,color-stop(0.11, rgb(70,130,46)),color-stop(0.56, rgb(85,158,56)));
  background: url(../img/icon-add.png) no-repeat center center, -moz-linear-gradient(center bottom,rgb(70,130,46) 11%,rgb(85,158,56) 56%);
  background-color: #559e38;
}
body.green #comments a{color: #ccc; text-decoration: none;}
body.green #comments a:hover{text-decoration: underline;}

.blue,
a.blue:visited,
body.movies #comments h1,
body.movies #single-content h1,
body.movies #single-content p.content-action a,
body.movies #reviews h1,
body.movies #more-like h1 { color: #3278af; }
body.movies #single-content button {
  border: 1px solid #3278af;
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.11, rgb(22,96,154)),color-stop(0.56, rgb(50,120,175)));
  background-image: -moz-linear-gradient(center bottom,rgb(22,96,154) 11%,rgb(50,120,175) 56%);
  background-color: #3278af;
}
body.movies a.add-content {
  border: 1px solid #3278af;
  background: url(../img/icon-add.png) no-repeat center center, -webkit-gradient(linear,left bottom,left top,color-stop(0.11, rgb(22,96,154)),color-stop(0.56, rgb(50,120,175)));
  background: url(../img/icon-add.png) no-repeat center center, -moz-linear-gradient(center bottom,rgb(22,96,154) 11%,rgb(50,120,175) 56%);
  background-color: #3278af;
}
body.movies #comments a{color: #ccc; text-decoration: none;}
body.movies #comments a:hover{text-decoration: underline;}

.purple,
a.purple:visited,
body.music #comments h1,
body.music #single-content h1,
body.music #single-content p.content-action a,
body.music #reviews h1,
body.music #more-like h1 { color: #644484; }
body.music #single-content button {
  border: 1px solid #644484;
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.11, rgb(76,50,103)),color-stop(0.56, rgb(100,68,132)));
  background-image: -moz-linear-gradient(center bottom,rgb(76,50,103) 11%,rgb(100,68,132) 56%);
  background-color: #644484;
}
body.music a.add-content {
  border: 1px solid #644484;
  background: url(../img/icon-add.png) no-repeat center center, -webkit-gradient(linear,left bottom,left top,color-stop(0.11, rgb(76,50,103)),color-stop(0.56, rgb(100,68,132)));
  background: url(../img/icon-add.png) no-repeat center center, -moz-linear-gradient(center bottom,rgb(76,50,103) 11%,rgb(100,68,132) 56%);
  background-color: #644484;
}
body.music #comments a{color: #ccc; text-decoration: none;}
body.music #comments a:hover{text-decoration: underline;}

.yellow,
a.yellow:visited,
body.games #comments h1,
body.games #single-content h1,
body.games #single-content p.content-action a,
body.games #reviews h1,
body.games #more-like h1 { color: #db9e36; }
body.games #reviews h1, body.games #more-like h1 { text-shadow: 1px 1px 0 #ddd;}
body.games #single-content button {
  border: 1px solid #db9e36;
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.11, rgb(188,135,46)),color-stop(0.56, rgb(219,158,54)));
  background-image: -moz-linear-gradient(center bottom,rgb(188,135,46) 11%,rgb(219,158,54) 56%);
  background-color: #db9e36;
}
.white,
a.white:visited,
body.games #comments h1,
body.games #single-content h1,
body.games #single-content p.content-action a,
body.games #reviews h1,
body.games #more-like h1 { color: #CCC; }
body.games #reviews h1, body.games #more-like h1 { text-shadow: 1px 1px 0 #ddd;}
body.games #single-content button {
  border: 1px solid #db9e36;
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.11, rgb(188,135,46)),color-stop(0.56, rgb(219,158,54)));
  background-image: -moz-linear-gradient(center bottom,rgb(188,135,46) 11%,rgb(219,158,54) 56%);
  background-color: #CCC;
}


body.games a.add-content {
  border: 1px solid #db9e36;
  background: url(../img/icon-add.png) no-repeat center center, -webkit-gradient(linear,left bottom,left top,color-stop(0.11, rgb(188,135,46)),color-stop(0.56, rgb(219,158,54)));
  background: url(../img/icon-add.png) no-repeat center center, -moz-linear-gradient(center bottom,rgb(188,135,46) 11%,rgb(219,158,54) 56%);
  background-color: #db9e36;
}
body.games #comments a{color: #ccc; text-decoration: none;}
body.games #comments a:hover{text-decoration: underline;}

/* Floats */
.right { float: right; }
.left { float: left; }

.container { width: 960px; position: relative; margin: 0 auto; }

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.clear { clear: both; }


/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
