/* Wing */

body
{
	background-color: #7c7c7c;
	background-image:url(images/background_gradient.jpg);
	background-repeat:repeat-x;
	color: #000000;
	/*font-family: Trebuchet MS, Helvetica, Arial, sans-serif;*/
	font-size: 14px;
	margin: 30px 0px 0px 0px;
	padding: 0;
}

a
{
	border: none;
	color: #000;
	font-weight: bold;
	text-decoration: none;	
}

a:hover
{
	text-decoration: underline;
}

#global-nav a{
	font-weight: normal;
}

#drop_menu
{
	background-image: url(images/drop_menu.jpg);
	background-repeat: no-repeat;
	color: #fff;
	font-size: 18px;
	height: 39px;
	margin: 0 auto;
	padding-top: 3px;
	position: relative;
	text-align: center;
	z-index: 10;
}

#drop_menu a
{
	color: #fff;
}

textarea
{
	font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
}

.head
{
	width: 100%;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

/* Banner */
/****************************************************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************************************************/

a#home
{
	height: 75px;
	left: 15px;
	position: absolute;
	text-decoration: none;
    top: 20px;
	width: 400px;
}

#banner, #banner_blue, #banner_green, #banner_orange, #banner_red, #banner_purple
{
	background: url(images/criticrania_banner.jpg) left top;
	background-repeat: no-repeat;
	height: 113px;
	margin: 0 auto;
	padding: 0 0 0 0;
	position: relative;
	width: 1008px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	-moz-box-shadow:0px 5px 15px #333;
	-webkit-box-shadow:0px 5px 15px #333;
	box-shadow:0px 5px 15px #333;
}

#banner_blue{background: url(images/criticrania_banner_blue.jpg) left top;}
#banner_green{background: url(images/criticrania_banner_green.jpg) left top;}
#banner_orange{background: url(images/criticrania_banner_orange.jpg) left top;}
#banner_red{background: url(images/criticrania_banner_red.jpg) left top;}
#banner_purple{background: url(images/criticrania_banner_purple.jpg) left top;}

/* Input Forms */
/****************************************************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************************************************/

#search_log
{
	height: 50px;
	left: 430px;
	position: relative;
	width: 355px;
}

#log_reg
{
	float: right;
	font-size: 13px;
	margin-right: 30px;
	position: relative;
	top: -110px;
}

#opener
{
	cursor: pointer;
}

#dialog
{
	color: #fff;
	float: right;
	height: 98px;
	padding: 7px 20px 0 15px;
	position: absolute;
	right: 0;
	top: 0;
	width: 200px;
}

#dialog a
{
	color: #fff;
	text-decoration: none;
}

#dialog a:hover
{
	text-decoration: underline;
}

#login
{
	float: right;
	width: 110px;
}

/* Page */
/****************************************************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************************************************/

#page
{
	background: #fff;
	margin: 0 auto;
	min-height: 200px;
	overflow: hidden;
	padding: 0 0 20px 0;
	position: relative;
	width: 1008px;
	-moz-border-radius-bottomleft: 20px;
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	/*-moz-box-shadow:0px 3px 15px #333;
	-webkit-box-shadow:0px 3px 15px #333;
	box-shadow:0px 3px 15px #333;*/
}

#nav
{
	background: url(images/nav_bg.jpg) repeat-x;
	height: 40px;
	margin: 0 auto;
	padding: 0 4px 0 4px;
	position: relative;
	width: 1000px;
}

.hover, .movie_nav, .tv_nav, .book_nav, .vg_nav, .music_nav
{
	background-repeat: no-repeat;
	display: inline-block;
	height: 40px;
	width: 200px;
}

.movie_nav{background: url(images/movie_nav.jpg) top;}
.tv_nav{background: url(images/tv_nav.jpg) top;}
.book_nav{background: url(images/book_nav.jpg) top;}
.vg_nav{background: url(images/vg_nav.jpg) top;}
.music_nav{background: url(images/music_nav.jpg) top;}

.movie_nav:hover, .tv_nav:hover, .book_nav:hover, .vg_nav:hover, .music_nav:hover{background-position:bottom;}

#title
{
	padding-left: 5%;
	text-align: left;
	font-size: 1.8em;
}

#description
{
	padding-left: 8%;
	padding-right: 8%;
	text-align: left;
}

#poster
{
	border: none;
	float: right;
	height: 145px;
	text-align: center;
	vertical-align: middle;
	width: 98px;
	-moz-box-shadow:0px 0px 15px #333;
	-webkit-box-shadow:0px 0px 15px #333;
	box-shadow:0px 0px 15px #333;
	filter:progid:DXImageTransform.Microsoft.Shadow(color='#555', Direction=135, Strength=7);
}

#trend
{
	border: none;
	height: 145px;
	width: 98px;
	-moz-box-shadow:0px 0px 15px #333;
	-webkit-box-shadow:0px 0px 15px #333;
	box-shadow:0px 0px 15px #333;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#555', Direction=135, Strength=7);
}

/* Content */
/****************************************************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************************************************/


#content
{
	background: #fff;
	padding: 0 2% 1% 2%;
	width: 96%;
}

#top_left
{
	background:#eee;
	float: left;
	height: 550px;
	margin-bottom: 20px;
	padding: 0 1% 0 1%;
	width: 32%;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#top_right
{
	background:#eee;
	float: right;
	height: 550px;
	margin-bottom: 20px;
	padding: 0 2% 0 2%;
	text-align: left;
	width: 60%;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#bottom_left
{
	background:#eee;
	float: left;
	height: 350px;
	padding: 0 2% 0 2%;
	width: 63%;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#bottom_right
{
	background:#eee;
	float: right;
	height: 350px;
	padding: 0 1% 0 2%;
	text-align: center;
	width: 28%;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#contentleft
{
	background: #fff;
	float: left;
	font-size: 16px;
	padding: 0 4% 0 4%;
	text-align: left;
	width: 44%;
}

#contentmid
{
	float: left;
	padding-top: 1%;
	text-align: right;
	font-size: 18px;
	width: 1%;
}

#contentright
{
	background: #fff;
	float: right;
	font-size: 16px;
	padding: 1% 4% 0 4%;
	text-align: left;
	width: 39%;
}

/* Footer */

#footer
{
	clear: both;
	color: #fff;
	height: 29px;
	margin: 0 auto;
	text-align: center;
	width: 1008px;
}

#synopsis
{
	float: left;
	padding-left: 30px;
	height: 100%;
	width: 540px;
}

#search_results
{
	font-weight: bold;
	font-size: 18px;
}

.change
{
	color: #707070;
	font-size: 12px;
	font-style: italic;
	cursor: pointer;
}

#slider {
	position:relative;
	margin: 0 auto;
	height: 417px;
	width: 263px;
	background:#202834 url(loading.gif) no-repeat 50% 50%;
	-moz-box-shadow:0px 0px 10px #333;
	-webkit-box-shadow:0px 0px 10px #333;
	box-shadow:0px 0px 10px #333;
}
#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
#slider a {
	border:0;
}

/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:60;
	display:none;
}

/* The slices in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:50;
	height:100%;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	opacity:0.8; /* Overridden by captionOpacity setting */
	width:263px;
	z-index:89;
	text-align: center;
}

.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-controlNav {
	position:absolute;
	left: 65px;
	bottom:-35px;
}
.nivo-controlNav a {
	display:block;
	width:10px;
	height:10px;
	background:url(images/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
	cursor: pointer;
}

/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:99;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}

.nivo-controlNav a.active {
	background-position:-10px 0;
}

.nivo-directionNav a {
	display:block;
	width:32px;
	height:34px;
	background:url(images/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background-position:-32px 0;
	right:10px;
}
a.nivo-prevNav {
	left:10px;
}

/* Frontpage */
/****************************************************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************************************************/

.bottomleft
{
	float: left;
	width: 50%;
}

.bottomright
{
	float: right;
	width: 50%;
}

.bottomcontent
{
	background-image: url(images/bottom_bg.jpg);
	background-repeat: no-repeat;
	background-color: #f4f3f1;
	height: 180px;
	margin: 0 auto;
	padding: 8px 0 0 8px;
	width: 350px;
}

.centered
{
	text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    padding:0 0 30px 0;
}

.topthree
{
	display: inline-block;
	float: left;
	height: 270px;
	text-align: center;
	width: 33%;
}